<app-header></app-header>
<section class="feature-projects">
    <div class="max-w-6xl mx-auto px-5">
        <div class="flex justify-center md:justify-between py-5">
            <h2 class="text-[32px] text-center md:text-left tw-font-bold">Projects</h2>
        </div>
        <div class="project-item grid md:2 grid-cols-[245px,auto] gap-8 border-b py-8">
            <div>
                <img src="https://picsum.photos/250/250" alt="" class="w-full rounded-lg">
            </div>
            <div>
                <h3 class="text-2xl font-bold">
                    <a href="" class="text-[#21243D]"></a>Designing Dashboards
                </h3>
                <div class="flex space-x-4 items-center py-5">
                    <span class="inline-block bg-[#142850] py-1 px-2 font-blod text-white rounded-full">2020</span>
                    <span class="text-[#8695A4]">Dashboard</span>
                </div>
                <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit
                    officia consequat duis enim
                    velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <div class="project-item grid md:2 grid-cols-[245px,auto] gap-8 border-b py-8">
            <div>
                <img src="https://picsum.photos/250/250" alt="" class="w-full rounded-lg">
            </div>
            <div>
                <h3 class="text-2xl font-bold">
                    <a href="" class=" text-[#21243D] "></a>Vibrant Portraits of 2020
                </h3>
                <div class="flex space-x-4 items-center py-5">
                    <span class="inline-block bg-[#142850] py-1 px-2 font-blod text-white rounded-full">2018</span>
                    <span class="text-[#8695A4]">Illustration</span>
                </div>
                <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit
                    officia consequat duis enim
                    velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <div class="project-item grid md:2 grid-cols-[245px,auto] gap-8 border-b py-8">
            <div>
                <img src="https://picsum.photos/250/250" alt="" class="w-full rounded-lg">
            </div>
            <div>
                <h3 class="text-2xl font-bold">
                    <a href="" class=" text-[#21243D] "></a>36 Days of Malayalam type
                </h3>
                <div class="flex space-x-4 items-center py-5">
                    <span class="inline-block bg-[#142850] py-1 px-2 font-blod text-white rounded-full">2018</span>
                    <span class="text-[#8695A4]">Typography</span>
                </div>
                <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit
                    officia consequat duis enim
                    velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <div class="project-item grid md:2 grid-cols-[245px,auto] gap-8 border-b py-8">
            <div>
                <img src="https://picsum.photos/250/250" alt="" class="w-full rounded-lg">
            </div>
            <div>
                <h3 class="text-2xl font-bold">
                    <a href="" class=" text-[#21243D] "></a>Components
                </h3>
                <div class="flex space-x-4 items-center py-5">
                    <span class="inline-block bg-[#142850] py-1 px-2 font-blod text-white rounded-full">2018</span>
                    <span class="text-[#8695A4]">Components, Design</span>
                </div>
                <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit
                    officia consequat duis enim
                    velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>