<app-header></app-header>
<section class="info py-10">
    <div class="max-w-6xl mx-auto px-5 ">
        <h2 class="text-3xl font-bold">Designing Dashboards with usability in mind</h2>
    </div>
    <div class="max-w-6xl mx-auto px-5">
        <div>
            <div class="flex space-x-4 items-center py-5 text-xl">
                <span class="inline-block bg-[#142850] py-1 px-2 text-[#FFFFFF] rounded-full">2020</span>
                <span class="text-[#21243D]">Dashboard, User Experience Design</span>
            </div>
            <p class="text-[#000000] ">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <div>
                <img src="https://picsum.photos/250/250" alt="" class="w-full py-10">
            </div>
            <h3 class="text-3xl font-bold py-5 px-2">Heading 1</h3>
            <h4 class="text-xl font-bold py-5 px-2">Heading 2</h4>
            <p class="py-5 px-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat
                duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <div class="py-5">
                <img src="https://picsum.photos/250/250" alt="" class="w-full">
            </div>
            <div class="py-5">
                <img src="https://picsum.photos/250/250" alt="" class="w-full">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>