<header>
    <div class="max-w-6xl mx-auto px-5">
        <ul class="flex justify-end space-x-8 py-7 font-[700] ">
            <li class="menu-item"><a href="/" class="hover:text-[#FF6464] data-navigo menu-item-click">Home</a></li>
            <li class="menu-item"><a href="/project"
                    class="hover:text-[#FF6464] data-navigo menu-item-click">Project</a></li>
            <li class="menu-item"><a href="/blog" class="hover:text-[#FF6464] data-navigo menu-item-click">Blog</a></li>
            <li class="menu-item"><a href="/contact"
                    class="hover:text-[#FF6464] data-navigo menu-item-click">Contact</a></li>
            <li class="menu-item"><a href="/signin" class="hover:text-[#FF6464] data-navigo">Admin</a></li>
        </ul>
    </div>
</header>