<app-header></app-header>
<section class="info py-10">
    <div class="max-w-6xl mx-auto px-5">
        <div class="text-3xl font-bold px-5">
            <h2>Blog</h2>
        </div>
        <div class="bg-white px-5 py-8" *ngFor="let item of post">
            <h3 class="mb-5">
                <a routerLink="detail/{{item.id}}" class="text-2xl font-bold">{{item.title}}</a>
            </h3>
            <div class="flex space-x-8 text-[#21243D] mb-5 text-lg">
                <span>{{item.createAt}}</span>
                <span>|</span>
                <span>Design, Pattern</span>
            </div>
            <p class="text-base">{{item.description}}</p>
        </div>

    </div>
</section>
<app-footer></app-footer>